[Unit]
Description=Undervolt cpu
After=suspend.target

[Service]
Type=simple
ExecStart=/usr/bin/iuvolt
ExecStop=/usr/bin/iuvolt

[Install]
WantedBy=multi-user.target
WantedBy=suspend.target
